.outer-two-page, .outer-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-two-page, .inner-two-page-reversed{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    text-align: center;
    width: 1400px;
}

.inner-two-page-reversed {
    flex-direction: row;
}

.inner-two-page div {
    width: 700px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: initial;
}

.two-page-text-1{
    width: 672px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: initial;
}

.two-page-text-1 img{
    width: 500px;
    opacity: 60%;
    z-index: -100;
}



.inner-two-page-reversed img{
    width: 700px;
}
.inner-two-page img{
    width: 700px;
}

.inner-div{
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

form h4, form h2{
    text-align: center;
    margin: 20px;
}
input{
    font-family: Belleza, serif;
    font-size: 30px;
    border-color:  #653117;
    border-radius: 10px;
    border-width: medium;
    height: 75px;
    width: 300px;
    text-align: center;
    margin: 10px;
}
.why-wage-buddy-outer{
}
.why-wage-buddy-inner{
    width: 500px;
}