.outer-two-page, .outer-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: yellow;
}

.inner-two-page, .inner-two-page-reversed{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    border-style: groove;
    border-color: green;
    margin-top: 50px;
    text-align: center;
    width: 1400px;
}

.inner-two-page-reversed {
    flex-direction: row;
}

.inner-two-page div {
    width: 700px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: initial;
    border-style: groove;
    border-color: pink;

}

.two-page-text-1{
    width: 672px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: initial;
    border-style: groove;
    border-color: yellow;
}

.two-page-text-1 img{
    border-style: groove;
    border-color: yellow;
    width: 600px;
    opacity: 60%;
}