.outer-how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: yellow;
}
.inner-how-it-works{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-style: groove;
    border-color: green;
    margin-top: 50px;
    text-align: center;
    width: 1400px;
}

.inner-how-it-works div{
    width: 400px;
    padding: 50px;
    border-style: groove;
    border-color: black;
}
