.outer-chapter{
    align-items: center;
}

.inner-chapter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}


